<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <script src="../sources/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="../sources/plugin/matchheight/jquery.matchHeight.js"></script>
    <script src="../sources/js/normal.js"></script>
    
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../sources/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>
    <!-- Header { -->
    <div id="header">
      <div class="container">
        <div class="inner">
          <h1 class="hd_logo">
            <a href="./index.html">
              <img src="../sources/images/logo.png" alt="충청남도내포신도시">
            </a>
          </h1>
          <nav class="gnb">
            <ul class="gnb_ul-dp1">
              <li>
                <a href="">충남혁신도시 소개</a>
              </li>
              <li>
                <a href="">정보공개</a>
              </li>
              <li>
                <a href="">소식알림</a>
              </li>
              <li>
                <a href="">소통/참여</a>
              </li>
            </ul>
          </nav>
          <div class="hd_rnb">
            <div class="hd_search">
              <form action="">
                <fieldset>
                  <legend class="sound_only">전체검색메뉴</legend>
                  <input type="text" class="hd_search-keyword" placeholder="검색어를 입력하세요.">
                  <button type="submit" class="hd_search-submit" title="검색하기"></button>
                </fieldset>
              </form>
            </div>
            <div class="mb_nav">
              <ul class="mb_nav_ul">
                <li>
                  <a href="">로그인</a>
                </li>
                <li>
                  <a href="">회원가입</a>
                </li>
              </ul>
            </div>
            <a href="" class="chungnam_page-link">
              <img src="../sources/images/chungnam-logo.png" alt="새창열림, 충청남도 홈페이지로 이동">
            </a>
            <button type="button" class="all_menu-btn">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- } Header -->

    <!-- Contents (boardWrite) { -->
    <div class="contentsWrap sub boardWrite">
      
      <div id="breadcrumbs">
        <div class="container">
          <div class="breadcrumbs_wrap">
            <div class="wrapper">
              <div class="inner">
                <ul class="breadcrumbs_list">
                  <li class="breadcrumbs_item breadcrumbs_item-home">
                    <a href="../views/index.html" title="메인 바로가기">
                      <img src="../sources/images/home-icon.png" alt="홈 아이콘">
                    </a>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-1dep">
                    <button class="breadcrumbs_menu">소통/참여</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">충남혁신도시 소개</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">정보공개</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소식알림</a>
                      </li>
                    </ul>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-2dep">
                    <button class="breadcrumbs_menu">순환버스 개선제안</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">관련 부서 안내</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec sub_sec-title">
        <div class="container">
          <div class="wrapper"> 
            <div class="inner">
              <div class="sub_titleBox sub_titleBox-view">
                <p class="f_gmarket sub_title">순환버스 개선 제안</p>
                <p class="sub_expl">충남혁신도시의 순환버스를 안내드립니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec write_sec_1">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="sub_body">
                <form action="" onsubmit="return register_submit(this);">
                  <div class="agree_wrap">
                    <div class="agree_box">
                      <h5 class="agree_title">※ 개인정보 수집 및 이용에 관한 동의</h5>
                      <p class="agree_text1 bottom">개인정보 보호법에 의거하여 다음과같이 개인정보 수집 및 이용 목적을 알려드립니다. </p>
                      <p class="agree_text2"><span>1. 수집항목 </span>성명, 휴대폰 번호, 이메일</p>
                      <p class="agree_text2"><span>2. 이용목적 </span>게시자 의견 확인, 답변 등록여부 문자및 이메일 발송</p>
                      <p class="agree_text2"><span>3. 개인정보 보유 및 이용기간 </span>게시판 서비스 종료 시까지</p>
                      <p class="agree_text1 top">위 개인정보 수집·이용 및 취급 위탁에 동의를 거부하실수 있으며, 다만 동의하지 않으실 경우 게시판 글쓰기가 제한됩니다.</p>
                    </div>
                    <div class="agree_chk check_wrap">
                      <input type="checkbox" name="agreeChk" id="agreeChk">
                      <label for="agreeChk">개인정보 수집·이용 및 취급 위탁에 동의합니다.</label>
                    </div>
                  </div>
                  <div class="write_body">
                    <div class="write_box">
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">제목</p>
                        </div>
                        <div class="write_item write_item-body">
                          <input type="text" class="write_input" placeholder="글 제목을 입력해 주세요.">
                        </div>
                      </div>
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">작성자</p>
                        </div>
                        <div class="write_item write_item-body">
                          <input type="text" class="write_input" placeholder="작성자 성함을 입력해 주세요.">
                        </div>
                      </div>
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">공개여부</p>
                        </div>
                        <div class="write_item write_item-body">
                          <div class="write_radio_wrap write_radio_wrap-padding">
                            <div class="write_radio radio_wrap">
                              <input type="radio" name="disclosure" id="disclosure-y">
                              <label for="disclosure-y">공개</label>
                            </div>
                            <div class="write_radio radio_wrap">
                              <input type="radio" name="disclosure" id="disclosure-n">
                              <label for="disclosure-n">비공개</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">SMS 수신</p>
                        </div>
                        <div class="write_item write_item-body">
                          <input type="number" class="write_input write_input-phone" placeholder="휴대폰 번호">
                          <p class="write_text-hypen">-</p>
                          <input type="number" class="write_input write_input-phone">
                          <p class="write_text-hypen">-</p>
                          <input type="number" class="write_input write_input-phone">
                          <div class="write_add_box write_add_box-1">
                            <p class="write_text write_text-1">답변등록 여부를 문자로 받으시겠습니까?</p>
                            <div class="write_radio_wrap">
                              <div class="write_radio radio_wrap">
                                <input type="radio" name="sms" id="sms-y">
                                <label for="sms-y">예</label>
                              </div>
                              <div class="write_radio radio_wrap">
                                <input type="radio" name="sms" id="sms-n">
                                <label for="sms-n">아니요</label>
                              </div>
                            </div>
                          </div>
                          <div class="write_add_box write_add_box-2">
                            <p class="write_text write_text-2">(하단의 이메일 주소를 입력해 주시면 답변내용이 메일로 발송됩니다.)</p>
                          </div>
                        </div>
                      </div>
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">이메일</p>
                        </div>
                        <div class="write_item write_item-body">
                          <input type="text" class="write_input" placeholder="이메일을 입력해 주세요.">
                        </div>
                      </div>
                    </div>
                    <div class="write_box">
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">첨부파일</p>
                        </div>
                        <div class="write_item write_item-body">
                          <div class="write_file_wrap">
                            <div class="write_file">
                              <input type="file" name="w-file" id="w-file1" class="file_origin" onchange="fileChk(this, 30)">
                              <label for="w-file1" class="file_btn">파일첨부</label>
                              <input type="text" class="file_text" readonly="" placeholder="선택된 파일이 없습니다.">
                            </div>
                            <div class="write_file">
                              <input type="file" name="w-file" id="w-file2" class="file_origin" onchange="fileChk(this, 30)">
                              <label for="w-file2" class="file_btn">파일첨부</label>
                              <input type="text" class="file_text" readonly="" placeholder="선택된 파일이 없습니다.">
                            </div>
                            <div class="write_file">
                              <input type="file" name="w-file" id="w-file3" class="file_origin" onchange="fileChk(this, 30)">
                              <label for="w-file3" class="file_btn">파일첨부</label>
                              <input type="text" class="file_text" readonly="" placeholder="선택된 파일이 없습니다.">
                            </div>
                            <div class="write_file">
                              <input type="file" name="w-file" id="w-file4" class="file_origin" onchange="fileChk(this, 30)">
                              <label for="w-file4" class="file_btn">파일첨부</label>
                              <input type="text" class="file_text" readonly="" placeholder="선택된 파일이 없습니다.">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="write_box">
                      <div class="write_row">
                        <div class="write_item write_item-head">
                          <p class="write_title">내용작성</p>
                        </div>
                        <div class="write_item write_item-body">
                          <textarea name="" id="" class="write_textarea" cols="30" rows="10" placeholder="문의내용을 입력해 주세요."></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="write_foot">
                    <div class="write_wrap">
                      <button type="submit" class="write_btn">
                        <img src="../sources/images/write-icon.png" alt="작성 아이콘">등록하기
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="evaluation">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="evaluation_wrap">
                <div class="evaluation_body">
                  <form action="">
                    <p class="evaluation_title">이 페이지에서 제공하는 정보에 대하여 만족하십니까?</p>
                    <ul class="evaluation_list">
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-1">
                        <label for="eval-1">매우 만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-2">
                        <label for="eval-2">만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-3">
                        <label for="eval-3">보통</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-4">
                        <label for="eval-4">불만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-5">
                        <label for="eval-5">매우 불만족</label>
                      </li>
                    </ul>
                    <div class="evaluation_box">
                      <input type="text" class="evaluation_text">
                      <button class="evaluation_fin">평가하기</button>
                    </div>
                  </form>
                </div>
                <div class="evaluation_info">
                  <p class="evaluation_info-txt"><b>담당부서 : </b>공공기관유치단</p>
                  <p class="evaluation_info-txt"><b>담당자 : </b>김재준</p>
                  <p class="evaluation_info-txt"><b>문의전화 : </b>041-635-3388</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Contents (boardWrite) -->

    <script>
    function register_submit(f) {
      //개인정보 수집 동의
      if ($("input[name='agreeChk']").is(":checked")==false) {
        alert("개인정보 수집 및 이용에 관한 확인 후 동의바랍니다.");
        return false;
      }
    }

    //파일첨부 > 확장자, 용량 체크
    const fileChk = (fileObj, maxSize) => {
      let filePath    = fileObj.value;
      let filePathArr = filePath.split("\\");
      let fileName    = filePathArr[filePathArr.length - 1];
      let $thisText   = fileObj.closest(".write_file").querySelector(".file_text");

      if (filePath) {
        $thisText.value = fileName;
      } else {
        fileObj.value = "";
        $thisText.value = "";
      }

      // 용량 체크
      if (fileObj.files && fileObj.files[0]) {
        let fileMaxSize = maxSize * 1024 * 1024; //MB
        let fileSize    = fileObj.files[0].size;
        if(fileMaxSize < fileSize) {
          alert(`파일 용량은 ${maxSize}MB 이하로 등록 가능합니다.`);
          fileObj.value = "";
          $thisText.value = "";
          return false;
        }
      }
    }
    </script>

    <!-- Footer { -->
    <div id="footer">
      <div class="ft_related">
        <div class="container">
          <div class="wrapper">
            <div class="ft_related_ct">
              <p class="f_gmarket ft_related-tit"><img src="../sources/images/realated-site.png" alt="">관련사이트</p>
              <div class="ft_related-site">
                <a href="http://www.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cn.jpg" alt="충청남도">
                </a>
                <a href="https://www.hongseong.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-hs.jpg" alt="홍성군">
                </a>
                <a href="https://www.yesan.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-ys.jpg" alt="예산군">
                </a>
                <a href="https://art.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-literary.jpg" alt="충청남도 문화예술회관">
                </a>
                <a href="http://clehrd.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cile.jpg" alt="충청남도 평생교육진흥원">
                </a>
                <a href="https://www.cndc.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cndc.jpg" alt="충청남도 개발공사">
                </a>
                <a href="https://www.lh.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-lh.jpg" alt="한국토지주택공사">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft_cont">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="ft_cont_lt">
                <div class="fnb">
                  <ul class="fnb_ul">
                    <li>
                      <a href="http://www.chungnam.go.kr/cnnet/content.do?mnu_cd=CNNMENU02538" target="_blank" class="first">개인정보처리방침</a>
                    </li>
                    <li>
                      <a href="">이용약관</a>
                    </li>
                    <li>
                      <a href="http://www.chungnam.go.kr/dept/memberInfo.do?mnu_cd=SESMENU00003&amp;dept_cd=6441369" target="_blank">공공기관유치단 직원안내</a>
                    </li>
                  </ul>
                </div>
                <div class="chungnam_finfo">
                  <span class="txt1">[32255] 충청남도 홍성군 홍북읍 충남대로 21 충청남도청</span>
                  <span class="txt2">대표전화 : 041-120</span>
                </div>
                <p class="copyright">Copyrightⓒ CHUNGCHEONGNAM-DO. All rights reserved.</p>
              </div>
              <div class="ft_cont_rt">
                <a href="./index.html" class="ft-logo">
                  <img src="../sources/images/logo-white.png" alt="충청남도내포신도시">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Footer -->

    <!-- Top Button { -->
    <div id="go-top">
      <a href="#top">
        <span></span>
        <span class="sound_only">TOP</span>
      </a>
    </div>
    <!-- } Top Button -->
  </body>
</html>