<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <!-- Plug-in, Library { -->
    <script src="../sources/plugin/slick/slick.min.js"></script>
    <!-- } Plug-in, Library -->
    <script src="../sources/js/normal.js"></script>
    <!-- CSS 파일 연결 -->
    <!-- Plug-in, Library { -->
    <link rel="stylesheet" href="../sources/plugin/slick/slick.css">
    <!-- } Plug-in, Library -->
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>

  </body>
</html>