<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <script src="../sources/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="../sources/plugin/matchheight/jquery.matchHeight.js"></script>
    <script src="../sources/js/normal.js"></script>

    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../sources/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>
    <!-- Header { -->
    <div id="header">
      <div class="container">
        <div class="inner">
          <h1 class="hd_logo">
            <a href="./index.html">
              <img src="../sources/images/logo.png" alt="충청남도내포신도시">
            </a>
          </h1>
          <nav class="gnb">
            <ul class="gnb_ul-dp1">
              <li>
                <a href="">충남혁신도시 소개</a>
                <ul class="gnb_ul-dp2">
                  <li>
                    <a href="">개요 및 연혁</a>
                  </li>
                  <li>
                    <a href="">개발방향 및 특성화 계획</a>
                  </li>
                  <li>
                    <a href="">토지이용계획도</a>
                  </li>
                  <li>
                    <a href="">편의시설</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">정보공개</a>
                <ul class="gnb_ul-dp2">
                  <li>
                    <a href="">추진 현황</a>
                  </li>
                  <li>
                    <a href="">개발관련자료</a>
                  </li>
                  <li>
                    <a href="">관련법규</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">소식알림</a>
                <ul class="gnb_ul-dp2">
                  <li>
                    <a href="">공지사항</a>
                  </li>
                  <li>
                    <a href="">영상자료</a>
                  </li>
                  <li>
                    <a href="">홍보책자</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">소통/참여</a>
                <ul class="gnb_ul-dp2">
                  <li>
                    <a href="">관련 부서 안내</a>
                  </li>
                  <li>
                    <a href="">순환버스 개선제안</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="hd_rnb">
            <div class="hd_search">
              <form action="">
                <fieldset>
                  <legend class="sound_only">전체검색메뉴</legend>
                  <input type="text" class="hd_search-keyword" placeholder="검색어를 입력하세요.">
                  <button type="submit" class="hd_search-submit" title="검색하기"></button>
                </fieldset>
              </form>
            </div>
            <div class="mb_nav">
              <ul class="mb_nav_ul">
                <li>
                  <a href="">로그인</a>
                </li>
                <li>
                  <a href="">회원가입</a>
                </li>
              </ul>
            </div>
            <a href="" class="chungnam_page-link">
              <img src="../sources/images/chungnam-logo.png" alt="새창열림, 충청남도 홈페이지로 이동">
            </a>
            <button type="button" class="all_menu-btn">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="allMenu">
      <div class="container">
        <div class="wrapper">
          <ul class="allMenu_ul-dp1">
            <li>
              <a href="">충남혁신도시 소개</a>
              <ul class="allMenu_ul-dp2">
                <li>
                  <a href="">개요 및 연혁</a>
                </li>
                <li>
                  <a href="">개발방향 및 특성화 계획</a>
                </li>
                <li>
                  <a href="">토지이용계획도</a>
                </li>
                <li>
                  <a href="">편의시설</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">정보공개</a>
              <ul class="allMenu_ul-dp2">
                <li>
                  <a href="">추진 현황</a>
                </li>
                <li>
                  <a href="">개발관련자료</a>
                </li>
                <li>
                  <a href="">관련법규</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">소식알림</a>
              <ul class="allMenu_ul-dp2">
                <li>
                  <a href="">공지사항</a>
                </li>
                <li>
                  <a href="">영상자료</a>
                </li>
                <li>
                  <a href="">홍보책자</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">소통/참여</a>
              <ul class="allMenu_ul-dp2">
                <li>
                  <a href="">관련 부서 안내</a>
                </li>
                <li>
                  <a href="">순환버스 개선제안</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- } Header -->

    <!-- Contents (Main) { -->
    <div class="contentsWrap main">

      <div class="main_sec main_vs">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="main_vs_lt">
                <div class="build-map-viewer main_vs-map">
                  <img src="../sources/images/main_vs-map.png" alt="조성현황 지도">
                </div>
                <div class="main_vs-info">
                  <span class="icon">
                    <img src="../sources/images/pin-icon.png" alt="">
                  </span>
                  <p class="txt">
                    우측의 버튼을 선택하시면, <br/>
                    <b>충남혁신도시의 현황을 <br/>
                    한눈에</b> 알 수 있습니다.
                  </p>
                </div>
                <div class="main_vs-person">
                  <img src="../sources/images/main_vs-person.png" alt="">
                </div>
              </div>
              <div class="main_vs_rt">
                <div class="main_vs-txtBox">
                  <p class="f_gmarket txt1">내 삶을 바꾸는 도시, <br/>충남혁신도시</p>
                  <p class="f_gmarket txt2">도청이전신도시, 내포신도시가 국가균형 발전을 선도하는 <br/>충남혁신도시로 새롭게 거듭납니다.</p>
                </div>
                <div class="main_vs-build">
                  <div class="main-titleBox">
                    <p class="f_gmarket main-title">
                      <b>충남혁신도시 <span class="f_color1">조성 현황</span></b>
                    </p>
                    <p class="build_info-txt">
                      <img src="../sources/images/pin-icon.png" alt="">버튼을 선택하시면, <b>충남혁신도시의 현황을 한눈에</b> 알 수 있습니다.
                    </p>
                  </div>
                  <div class="build_category">
                    <ul class="build_category_ul">
                      <li class="active">
                        <button type="button" class="build-btn active" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon1.png" alt="">
                          </span>
                          <p class="txt">주거단지</p>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="build-btn" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon2.png" alt="">
                          </span>
                          <p class="txt">상권</p>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="build-btn" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon3.png" alt="">
                          </span>
                          <p class="txt">교육</p>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="build-btn" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon4.png" alt="">
                          </span>
                          <p class="txt">병원</p>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="build-btn" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon5.png" alt="">
                          </span>
                          <p class="txt">공공청사</p>
                        </button>
                      </li>
                      <li>
                        <button type="button" class="build-btn" data-map-image="../sources/images/main_vs-map.png">
                          <span class="icon">
                            <img src="../sources/images/build-icon6.png" alt="">
                          </span>
                          <p class="txt">산업단지</p>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <p class="city_build-count">
                    현재 공동 주택 / 주상복합 / 단독주택 <b class="f_color1">41,500세대</b> 조성
                  </p>
                  <div class="city_person-count">
                    <div class="txtBox">
                      <p class="f_gmarket txt1">
                        충남혁신도시 <br/>
                        <b>인구현황</b>
                      </p>
                    </div>
                    <div class="txtBox">
                      <p class="txt2">
                        <!--스크립트 처리: normal.js-->
                        <strong class="number" data-count="34629">0</strong> 명
                      </p>
                      <p class="txt3">(2023년 9월 말 기준)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_sec main_plan">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="main-titleBox">
                <p class="f_gmarket main-title">충남혁신도시 <b>개발특성화 계획</b></p>
                <p class="main-expl">도청이전 신도시 ‘충남혁신도시의 개발 방향’입니다.</p>
                <a href="" class="main-more">
                  <span class="txt">전체보기</span>
                  <span class="sym"></span>
                </a>
              </div>
              <div class="main_plan-slider">
                <div class="swiper-container ov-hidden">
                  <div class="swiper-wrapper">
                    <!-- loop { -->
                    <div class="swiper-slide">
                      <div class="main_plan-thumb">
                        <img src="../sources/images/main_plan-thumb1.jpg" alt="">
                      </div>
                      <div class="main_plan-txtBox">
                        <p class="txt1">도시가 숲이되는</p>
                        <p class="txt2">Green City</p>
                      </div>
                    </div>
                    <!-- } loop -->
                    <div class="swiper-slide">
                      <div class="main_plan-thumb">
                        <img src="../sources/images/main_plan-thumb1.jpg" alt="">
                      </div>
                      <div class="main_plan-txtBox">
                        <p class="txt1">자연이 에너지가 되는</p>
                        <p class="txt2">신재생 에너지도시</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="main_plan-thumb">
                        <img src="../sources/images/main_plan-thumb1.jpg" alt="">
                      </div>
                      <div class="main_plan-txtBox">
                        <p class="txt1">자전거이용이 자유로운</p>
                        <p class="txt2">자전거 천국도시</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="main_plan-thumb">
                        <img src="../sources/images/main_plan-thumb1.jpg" alt="">
                      </div>
                      <div class="main_plan-txtBox">
                        <p class="txt1">일상에 불편함이 없는</p>
                        <p class="txt2">안전도시</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="main_plan-thumb">
                        <img src="../sources/images/main_plan-thumb1.jpg" alt="">
                      </div>
                      <div class="main_plan-txtBox">
                        <p class="txt1">국내 최고의 교육경쟁력 확보</p>
                        <p class="txt2">교육 특화도시</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-arrow swiper-prev">
                    <img src="../sources/images/prev-arrow.png" alt="이전">
                  </div>
                  <div class="swiper-arrow swiper-next">
                    <img src="../sources/images/next-arrow.png" alt="다음">
                  </div>
                </div>
              </div>
              <div class="main_plan-bg-sym1"></div>
              <div class="main_plan-bg-sym2"></div>
              <div class="main_plan-bg-sym3"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_sec main_news">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="main-titleBox">
                <p class="f_gmarket main-title"><b>다양한 새소식</b>을 확인해보세요!</p>
              </div>
              <div class="main_news_ct">
                <div class="main_news_lt">
                  <div class="main_board_top">
                    <div class="main_board_tabs">
                      <ul class="main_board_tab_ul">
                        <li class="active">
                          <button type="button" class="f_gmarket tab-btn">공지사항</button>
                        </li>
                        <li>
                          <button type="button" class="f_gmarket tab-btn">개발관련자료</button>
                        </li>
                      </ul>
                    </div>
                    <a href="" class="plus_more">전체보기<i class="plus"></i></a>
                  </div>
                  <div class="main_board_ct">
                    <!-- loop { -->
                    <div class="main_board_post active">
                      <span class="ov-date">
                        <span class="ym">2023.09</span>
                        <span class="d">30</span>
                      </span>
                      <div class="txtBox">
                        <button type="button" class="text_row1 subj" data-link="게시글 상세 링크삽입">내포신도시 인구현황('23년 9월 말)</button>
                        <div class="text_row2 expl">내포신도시 인구현황('23년 9월 말) 기준 자료입니다. 내포신도시 인구현황('23년 9월 말) 기준 자료입니다.</div>
                      </div>
                      <span class="date">2023-09-30</span>
                    </div>
                    <!-- } loop -->
                    <div class="main_board_post">
                      <span class="ov-date">
                        <span class="ym">2023.09</span>
                        <span class="d">30</span>
                      </span>
                      <div class="txtBox">
                        <button type="button" class="text_row1 subj" data-link="게시글 상세 링크삽입">내포신도시 인구현황('23년 9월 말)</button>
                        <div class="expl">내포신도시 인구현황('23년 9월 말) 기준 자료입니다. 내포신도시 인구현황('23년 9월 말) 기준 자료입니다.</div>
                      </div>
                      <span class="date">2023-09-30</span>
                    </div>
                    <div class="main_board_post">
                      <span class="ov-date">
                        <span class="ym">2023.09</span>
                        <span class="d">30</span>
                      </span>
                      <div class="txtBox">
                        <button type="button" class="text_row1 subj" data-link="게시글 상세 링크삽입">내포신도시 인구현황('23년 9월 말)</button>
                        <div class="expl">내포신도시 인구현황('23년 9월 말) 기준 자료입니다. 내포신도시 인구현황('23년 9월 말) 기준 자료입니다.</div>
                      </div>
                      <span class="date">2023-09-30</span>
                    </div>
                    <div class="main_board_post">
                      <span class="ov-date">
                        <span class="ym">2023.09</span>
                        <span class="d">30</span>
                      </span>
                      <div class="txtBox">
                        <button type="button" class="text_row1 subj" data-link="게시글 상세 링크삽입">내포신도시 인구현황('23년 9월 말)</button>
                        <div class="expl">내포신도시 인구현황('23년 9월 말) 기준 자료입니다. 내포신도시 인구현황('23년 9월 말) 기준 자료입니다.</div>
                      </div>
                      <span class="date">2023-09-30</span>
                    </div>
                  </div>
                </div>
                <div class="main_news_rt">
                  <div class="main_news-banner">
                    <img src="../sources/images/main_news-banner.jpg" alt="충남혁신도시 편의시설 충남혁신도시에 조성된 다양한 편의시설을 소개합니다.">
                  </div>
                  <!-- 배너 링크 필요시
                  <a href="" class="main_news-banner">
                    <img src="../sources/images/main_news-banner.jpg" alt="충남혁신도시 편의시설 충남혁신도시에 조성된 다양한 편의시설을 소개합니다.">
                  </a>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_obj-bg1"></div>

      <div class="main_sec main_pr">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="main-titleBox">
                <p class="f_gmarket main-title">충남혁신도시의 <b>홍보물</b></p>
              </div>
              <div class="main_pr_ct">
                <div class="main_pr_lt">
                  <div class="catalog-thumb">
                    <img src="../sources/images/catalog-thumb.jpg" alt="카탈로그 표지, 힘쎈충남 대한민국의 힘, 발행기관명 충청남도 공공기관유치단, 주소 (32255)충청남도 홍성군 홍북읍 충남대로 21 충청남도청, 문의처 041-635-3388, 내 삶을 바꾸는 도시 충남혁신도시, 충남혁신도시에서 찬란한 미래를 함께할 당신을 기다립니다. 충청남도, 홍성군, 예산군">
                  </div>
                  <div class="catalog-txtBox">
                    <div class="catalog-btns">
                      <a href="" class="catalog-btn"><img src="../sources/images/all-icon.png" alt="">전체보기</a>
                      <a href="" class="catalog-btn"><img src="../sources/images/link-icon.png" alt="">PDF보기</a>
                    </div>
                    <p class="f_gmarket catalog-title">충남혁신도시 <br/>카달로그</p>
                  </div>
                </div>
                <div class="main_pr_rt">
                  <div class="prVideo_wrap">
                    <div class="prVideo_top">
                      <p class="f_gmarket prVideo-title">홍보영상</p>
                      <a href="" class="plus_more">전체보기<i class="plus"></i></a>
                    </div>
                    <div class="prVideo_ct">
                      <div class="prVideo-item">
                        <div class="prVideo-box">
                          <iframe src="http://vod.chungnam.go.kr:8188/vod/vodPlayerRtmp.action?mediaID=a23718b3f85c43439ed52abac936f69c" frameborder="0"></iframe>
                        </div>
                        <p class="text_row1 prVideo-name">수도권 공공기관 이전의 최적지 "충남혁신도시"</p>
                      </div>
                      <div class="prVideo-item">
                        <div class="prVideo-box">
                          <iframe src="http://vod.chungnam.go.kr:8188/vod/vodPlayerRtmp.action?mediaID=c78acbe9cbf8442ba92b3881b5a3d2fd" frameborder="0"></iframe>
                        </div>
                        <p class="text_row1 prVideo-name">미니어처로 보는 충남혁신도시(2021)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- } Contents (Main) -->

    <!-- Footer { -->
    <div id="footer">
      <div class="ft_related">
        <div class="container">
          <div class="wrapper">
            <div class="ft_related_ct">
              <p class="f_gmarket ft_related-tit"><img src="../sources/images/realated-site.png" alt="">관련사이트</p>
              <div class="ft_related-site">
                <a href="http://www.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cn.jpg" alt="충청남도">
                </a>
                <a href="https://www.hongseong.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-hs.jpg" alt="홍성군">
                </a>
                <a href="https://www.yesan.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-ys.jpg" alt="예산군">
                </a>
                <a href="https://art.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-literary.jpg" alt="충청남도 문화예술회관">
                </a>
                <a href="http://clehrd.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cile.jpg" alt="충청남도 평생교육진흥원">
                </a>
                <a href="https://www.cndc.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cndc.jpg" alt="충청남도 개발공사">
                </a>
                <a href="https://www.lh.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-lh.jpg" alt="한국토지주택공사">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft_cont">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="ft_cont_lt">
                <div class="fnb">
                  <ul class="fnb_ul">
                    <li>
                      <a href="http://www.chungnam.go.kr/cnnet/content.do?mnu_cd=CNNMENU02538" target="_blank" class="first">개인정보처리방침</a>
                    </li>
                    <li>
                      <a href="">이용약관</a>
                    </li>
                    <li>
                      <a href="http://www.chungnam.go.kr/dept/memberInfo.do?mnu_cd=SESMENU00003&amp;dept_cd=6441369" target="_blank">공공기관유치단 직원안내</a>
                    </li>
                  </ul>
                </div>
                <div class="chungnam_finfo">
                  <span class="txt1">[32255] 충청남도 홍성군 홍북읍 충남대로 21 충청남도청</span>
                  <span class="txt2">대표전화 : 041-120</span>
                </div>
                <p class="copyright">Copyrightⓒ CHUNGCHEONGNAM-DO. All rights reserved.</p>
              </div>
              <div class="ft_cont_rt">
                <a href="./index.html" class="ft-logo">
                  <img src="../sources/images/logo-white.png" alt="충청남도내포신도시">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Footer -->

    <!-- Top Button { -->
    <div id="go-top">
      <a href="#top">
        <span></span>
        <span class="sound_only">TOP</span>
      </a>
    </div>
    <!-- } Top Button -->

    <!-- (모바일)조성현황 지도 popup { -->
    <div class="mo-main_vs-map_dim">
      <div class="build-map-viewer mo-main_vs-map">
        <button type="button" class="mo-main_vs-map-close"></button>
        <img src="../sources/images/main_vs-map.png" alt="조성현황 지도">
      </div>
    </div>
    <!-- } (모바일)조성현황 지도 popup -->

    <script>
    $(document).ready(function(){
      $(".gnb_ul-dp1 > li").on('mouseover', function(){
        $('.gnb_ul-dp2').hide();
        $(this).find('.gnb_ul-dp2').show();
      })

      $("#header").on('mouseleave', function(){
        $('.gnb_ul-dp2').hide();
      })

      $(".all_menu-btn").on('click', function(){
        $(this).toggleClass('act');
        $(".allMenu").toggle();
      })
    })
    </script>

  </body>
</html>