<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <script src="../sources/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="../sources/plugin/matchheight/jquery.matchHeight.js"></script>
    <script src="../sources/js/normal.js"></script>
    
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../sources/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>
    <!-- Header { -->
    <div id="header">
      <div class="container">
        <div class="inner">
          <h1 class="hd_logo">
            <a href="./index.html">
              <img src="../sources/images/logo.png" alt="충청남도내포신도시">
            </a>
          </h1>
          <nav class="gnb">
            <ul class="gnb_ul-dp1">
              <li>
                <a href="">충남혁신도시 소개</a>
              </li>
              <li>
                <a href="">정보공개</a>
              </li>
              <li>
                <a href="">소식알림</a>
              </li>
              <li>
                <a href="">소통/참여</a>
              </li>
            </ul>
          </nav>
          <div class="hd_rnb">
            <div class="hd_search">
              <form action="">
                <fieldset>
                  <legend class="sound_only">전체검색메뉴</legend>
                  <input type="text" class="hd_search-keyword" placeholder="검색어를 입력하세요.">
                  <button type="submit" class="hd_search-submit" title="검색하기"></button>
                </fieldset>
              </form>
            </div>
            <div class="mb_nav">
              <ul class="mb_nav_ul">
                <li>
                  <a href="">로그인</a>
                </li>
                <li>
                  <a href="">회원가입</a>
                </li>
              </ul>
            </div>
            <a href="" class="chungnam_page-link">
              <img src="../sources/images/chungnam-logo.png" alt="새창열림, 충청남도 홈페이지로 이동">
            </a>
            <button type="button" class="all_menu-btn">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- } Header -->

    <!-- Contents (plan) { -->
    <div class="contentsWrap sub plan">
      
      <div id="breadcrumbs">
        <div class="container">
          <div class="breadcrumbs_wrap">
            <div class="wrapper">
              <div class="inner">
                <ul class="breadcrumbs_list">
                  <li class="breadcrumbs_item breadcrumbs_item-home">
                    <a href="../views/index.html" title="메인 바로가기">
                      <img src="../sources/images/home-icon.png" alt="홈 아이콘">
                    </a>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-1dep">
                    <button class="breadcrumbs_menu">충남혁신도시 소개</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">정보공개</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소식알림</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소통/참여</a>
                      </li>
                    </ul>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-2dep">
                    <button class="breadcrumbs_menu">개발방향 및 특성화 계획</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">개요 및 연혁</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">토지이용계획도</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">편의시설</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec sub_sec-title">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="sub_titleBox">
                <p class="f_gmarket sub_title">개발방향 및 특성화계획</p>
                <p class="sub_expl">충남혁신도시의 개발컨셉과 계획입니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec plan_sec_1">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <p class="f_gmarket sub_slogan">충남혁신도시는 충남의 신성장동력 창출 및 <br/>균형발전 거점도시를 목표로 개발되고 있습니다.</p>
              <div class="sub_head">
                <p class="sub_subject">개발방향</p>
              </div>
              <div class="sub_body">
                <div class="gray_bg">
                  <img src="../sources/images/link-bg-icon.png" alt="LINK City 아이콘" class="gray_bg-img">
                  <p class="gray_bg-text"><b>LINK</b><br/>City</p>
                </div>
                <ul class="gray_list gray_list-plan i-col-2 matchH">
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1"><span>L</span>inkage City</h5>
                      <div class="gray_txt_wrap">
                        <p class="gray_txt-2">광역행정기능과 지원기능의 통합적인 이전, 수용을 통한 충남발전의 거점도시</p>
                        <p class="gray_txt-2">충남지역 내 주변 신도시와의 상생발전을 위한 전략적 지원체계 구축</p>
                      </div>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1"><span>I</span>nnovation City</h5>
                      <div class="gray_txt_wrap">
                        <p class="gray_txt-2">첨단 IT/BT 산업의 혁신클러스터 구축 및 지역전략 산업의 육성</p>
                        <p class="gray_txt-2">장소마케팅 기법으로 차별화된 문화/예술 공간 조성 등 도시 혁신화</p>
                      </div>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1"><span>N</span>ature City</h5>
                      <div class="gray_txt_wrap">
                        <p class="gray_txt-2">물과 녹지로 통합되는 친환경 도시 조성</p>
                        <p class="gray_txt-2">자연과 커뮤니티 공간이 유기적으로 통합된 녹치 체계</p>
                        <p class="gray_txt-2">Green & Blue & White Network 구축</p>
                      </div>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1"><span>K</span>nowledge City</h5>
                      <div class="gray_txt_wrap">
                        <p class="gray_txt-2">대학 및 고급 교육기관 유치를 통한 지식 기반 도시 환경 조성</p>
                        <p class="gray_txt-2">열린학교 중심의 에듀타운 및 R&D 기반과 연계한 직업교육/평생교육 환경조성 </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec plan_sec_2">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="sub_head">
                <p class="sub_subject">특성화 계획</p>
              </div>
              <div class="sub_body">
                <div class="plan_wrap">
                  <p class="plan_slogan f_gmarket">자연이 살아 숨쉬고 에너지가 되는 <br/>Eco-Green City</p>
                  <ul class="plan_list plan_list-1 i-col-3">
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>01</span></p>
                          <p class="plan_tit">도시가 숲이되는 "Green City" <br/>⇒ 녹지율 50%이상</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>자연지형에 순응하는 도시 조성</p>
                            <p>오지(五指)축 공원ㆍ녹지 조성</p>
                            <p>도시속 녹지숲 조성</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img1.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>02</span></p>
                          <p class="plan_tit">자연이 에너지가 되는 "신재생 <br/>에너지도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>탄소저감방안 / 탄소 흡수방안</p>
                            <p>탄소중립도시 조성</p>
                            <p>에너지 절약형 청사 조성</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img2.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>03</span></p>
                          <p class="plan_tit">자전거이용이 자유로운 "자전거 <br/>천국도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>기본방향</p>
                            <p>자전거도로 계획</p>
                            <p>자전거도로 부대시설계획</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img3.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="plan_wrap">
                  <p class="plan_slogan f_gmarket">누구나 살고 싶은 도시 <br/>Human City</p>
                  <ul class="plan_list plan_list-2 i-col-3">
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>04</span></p>
                          <p class="plan_tit">쾌적한 도시환경을 창출하는 <br/>"5無도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>"5無 도시"조성</p>
                            <p>조성방안</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img4.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>05</span></p>
                          <p class="plan_tit">감각적이고 세련된 "공공디자인 <br/>도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>통합이미지 형성</p>
                            <p>공공디자인 구역</p>
                            <p>충남도청 이전신도시 공공시설물 연출방향</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img5.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>06</span></p>
                          <p class="plan_tit">지역정체성이 살아 숨쉬는 "창조 <br/>도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>행정타운 및 이주자택지</p>
                            <p>테마광장 및 테마가로</p>
                            <p>문화·역사공원</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img6.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>07</span></p>
                          <p class="plan_tit">국내 최고의 교육경쟁력 확보 <br/>"교육특화도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>충남, 홍성·예산 국제문화 교육특구 지정</p>
                            <p>에듀타운 조성</p>
                            <p>Complex Campus 조성</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img7.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="plan_item">
                      <div class="plan_inner">
                        <div class="plan_head">
                          <p class="plan_num"><span>08</span></p>
                          <p class="plan_tit">일상에 불편함이 없는 "안전한 <br/>도시"</p>
                        </div>
                        <div class="plan_body">
                          <div class="plan_txt">
                            <p>무장애도시 조성</p>
                            <p>U-City 구축</p>
                            <p>방재예방</p>
                          </div>
                          <div class="plan_img">
                            <img src="../sources/images/plan-img8.png" alt="특성화 계획 이미지">
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="evaluation">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="evaluation_wrap">
                <div class="evaluation_body">
                  <form action="">
                    <p class="evaluation_title">이 페이지에서 제공하는 정보에 대하여 만족하십니까?</p>
                    <ul class="evaluation_list">
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-1">
                        <label for="eval-1">매우 만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-2">
                        <label for="eval-2">만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-3">
                        <label for="eval-3">보통</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-4">
                        <label for="eval-4">불만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-5">
                        <label for="eval-5">매우 불만족</label>
                      </li>
                    </ul>
                    <div class="evaluation_box">
                      <input type="text" class="evaluation_text">
                      <button class="evaluation_fin">평가하기</button>
                    </div>
                  </form>
                </div>
                <div class="evaluation_info">
                  <p class="evaluation_info-txt"><b>담당부서 : </b>공공기관유치단</p>
                  <p class="evaluation_info-txt"><b>담당자 : </b>김재준</p>
                  <p class="evaluation_info-txt"><b>문의전화 : </b>041-635-3388</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- } Contents (plan) -->

    <!-- Footer { -->
    <div id="footer">
      <div class="ft_related">
        <div class="container">
          <div class="wrapper">
            <div class="ft_related_ct">
              <p class="f_gmarket ft_related-tit"><img src="../sources/images/realated-site.png" alt="">관련사이트</p>
              <div class="ft_related-site">
                <a href="http://www.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cn.jpg" alt="충청남도">
                </a>
                <a href="https://www.hongseong.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-hs.jpg" alt="홍성군">
                </a>
                <a href="https://www.yesan.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-ys.jpg" alt="예산군">
                </a>
                <a href="https://art.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-literary.jpg" alt="충청남도 문화예술회관">
                </a>
                <a href="http://clehrd.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cile.jpg" alt="충청남도 평생교육진흥원">
                </a>
                <a href="https://www.cndc.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cndc.jpg" alt="충청남도 개발공사">
                </a>
                <a href="https://www.lh.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-lh.jpg" alt="한국토지주택공사">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft_cont">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="ft_cont_lt">
                <div class="fnb">
                  <ul class="fnb_ul">
                    <li>
                      <a href="http://www.chungnam.go.kr/cnnet/content.do?mnu_cd=CNNMENU02538" target="_blank" class="first">개인정보처리방침</a>
                    </li>
                    <li>
                      <a href="">이용약관</a>
                    </li>
                    <li>
                      <a href="http://www.chungnam.go.kr/dept/memberInfo.do?mnu_cd=SESMENU00003&amp;dept_cd=6441369" target="_blank">공공기관유치단 직원안내</a>
                    </li>
                  </ul>
                </div>
                <div class="chungnam_finfo">
                  <span class="txt1">[32255] 충청남도 홍성군 홍북읍 충남대로 21 충청남도청</span>
                  <span class="txt2">대표전화 : 041-120</span>
                </div>
                <p class="copyright">Copyrightⓒ CHUNGCHEONGNAM-DO. All rights reserved.</p>
              </div>
              <div class="ft_cont_rt">
                <a href="./index.html" class="ft-logo">
                  <img src="../sources/images/logo-white.png" alt="충청남도내포신도시">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Footer -->

    <!-- Top Button { -->
    <div id="go-top">
      <a href="#top">
        <span></span>
        <span class="sound_only">TOP</span>
      </a>
    </div>
    <!-- } Top Button -->
  </body>
</html>