<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <script src="../sources/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="../sources/plugin/matchheight/jquery.matchHeight.js"></script>
    <script src="../sources/js/normal.js"></script>
    
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../sources/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>
    <!-- Header { -->
    <div id="header">
      <div class="container">
        <div class="inner">
          <h1 class="hd_logo">
            <a href="./index.html">
              <img src="../sources/images/logo.png" alt="충청남도내포신도시">
            </a>
          </h1>
          <nav class="gnb">
            <ul class="gnb_ul-dp1">
              <li>
                <a href="">충남혁신도시 소개</a>
              </li>
              <li>
                <a href="">정보공개</a>
              </li>
              <li>
                <a href="">소식알림</a>
              </li>
              <li>
                <a href="">소통/참여</a>
              </li>
            </ul>
          </nav>
          <div class="hd_rnb">
            <div class="hd_search">
              <form action="">
                <fieldset>
                  <legend class="sound_only">전체검색메뉴</legend>
                  <input type="text" class="hd_search-keyword" placeholder="검색어를 입력하세요.">
                  <button type="submit" class="hd_search-submit" title="검색하기"></button>
                </fieldset>
              </form>
            </div>
            <div class="mb_nav">
              <ul class="mb_nav_ul">
                <li>
                  <a href="">로그인</a>
                </li>
                <li>
                  <a href="">회원가입</a>
                </li>
              </ul>
            </div>
            <a href="" class="chungnam_page-link">
              <img src="../sources/images/chungnam-logo.png" alt="새창열림, 충청남도 홈페이지로 이동">
            </a>
            <button type="button" class="all_menu-btn">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- } Header -->

    <!-- Contents (amenities) { -->
    <div class="contentsWrap sub amenities">
      
      <div id="breadcrumbs">
        <div class="container">
          <div class="breadcrumbs_wrap">
            <div class="wrapper">
              <div class="inner">
                <ul class="breadcrumbs_list">
                  <li class="breadcrumbs_item breadcrumbs_item-home">
                    <a href="../views/index.html" title="메인 바로가기">
                      <img src="../sources/images/home-icon.png" alt="홈 아이콘">
                    </a>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-1dep">
                    <button class="breadcrumbs_menu">충남혁신도시 소개</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">정보공개</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소식알림</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소통/참여</a>
                      </li>
                    </ul>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-2dep">
                    <button class="breadcrumbs_menu">편의시설</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">개요 및 연혁</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">개발방향 및 특성화 계획</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">토지이용계획도</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec sub_sec-title">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="sub_titleBox">
                <p class="f_gmarket sub_title">편의시설</p>
                <p class="sub_expl">충남혁신도시의 다양한 편의시설을 소개합니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec amenities_sec_1">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <p class="f_gmarket sub_slogan">충남혁신도시는 지역발전과 삶의 질을 위해 <br/>
                다양한 편의성을 확립하고 있습니다.</p>
              <div class="sub_head">
                <p class="sub_subject">편의시설 소개 </p>
              </div>
              <div class="sub_body">
                <ul class="tab_list">
                    <li class="tab_item active" rel="amenities-1">자전거도로</li>
                    <li class="tab_item" rel="amenities-2">공원</li>
                    <li class="tab_item" rel="amenities-3">광장</li>
                    <li class="tab_item" rel="amenities-4">교육시설</li>
                    <li class="tab_item" rel="amenities-5">문화시설</li>
                    <li class="tab_item" rel="amenities-6">체육시설</li>
                    <li class="tab_item" rel="amenities-7">보건/의료시설</li>
                    <li class="tab_item" rel="amenities-8">복지시설</li>
                    <li class="tab_item" rel="amenities-9">기타편익시설</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec amenities_sec_2">
        <div class="tab_container">
          <!-- 자전거도로 { -->
          <div id="amenities-1" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map1.jpg" alt="자전거도로 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <p class="amenities_title">조성계획</p>
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 노선수, 연장(km)를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>노선수</th>
                            <th>연장(km)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="bold">합계</td>
                            <td>28</td>
                            <td>70.1</td>
                          </tr>
                          <tr>
                            <td class="bold">레저형(건물측)</td>
                            <td>7</td>
                            <td>21.8</td>
                          </tr>
                          <tr>
                            <td class="bold">통근형(차도측)</td>
                            <td>14</td>
                            <td>43.0</td>
                          </tr>
                          <tr>
                            <td class="bold">생활형(보도중앙측)</td>
                            <td>7</td>
                            <td>5.3</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="amenities_thumb_wrap">
                      <ul class="amenities_thumb_list">
                        <li class="amenities_thumb_item">
                          <div class="amenities_thumb_inner">
                            <img src="../sources/images/amenities-img1_1.png" alt="레저형 이미지">
                            <p class="amenities_thumb_txt">레저형</p>
                          </div>
                        </li>
                        <li class="amenities_thumb_item">
                          <div class="amenities_thumb_inner">
                            <img src="../sources/images/amenities-img1_2.png" alt="통근형 이미지">
                            <p class="amenities_thumb_txt">통근형</p>
                          </div>
                        </li>
                        <li class="amenities_thumb_item">
                          <div class="amenities_thumb_inner">
                            <img src="../sources/images/amenities-img1_3.png" alt="생활형 이미지">
                            <p class="amenities_thumb_txt">생활형</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="amenities_box">
                    <p class="amenities_title">조성현황</p>
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>노선별, 계획(총연장 km), 연장(km)를 포함</caption>
                        <thead>
                          <tr>
                            <th>노선별</th>
                            <th>계획(총연장 km)</th>
                            <th>실적(총연장 km)</th>
                            <th>진도(%)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="bold">합계</td>
                            <td>70.1</td>
                            <td>48.9</td>
                            <td>69.8</td>
                          </tr>
                          <tr>
                            <td class="bold">녹지구간(레저형)</td>
                            <td>21.8</td>
                            <td>17.4</td>
                            <td>79.8</td>
                          </tr>
                          <tr>
                            <td class="bold">도로구간(통근/생활형)</td>
                            <td>48.3</td>
                            <td>31.5</td>
                            <td>65.2</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 자전거도로 -->

          <!-- 공원 { -->
          <div id="amenities-2" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map2.jpg" alt="공원 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 개소, 면적(㎡), 비율(%)을 포함</caption>
                        <thead>
                          <tr>
                            <th colspan="2">구분</th>
                            <th>개소</th>
                            <th>면적(㎡)</th>
                            <th>비율(%)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold" colspan="2">합계</td>
                            <td>53</td>
                            <td>1,112,940.1</td>
                            <td>100.0</td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="4">생활권<br/>공원</td>
                            <td class="bold">소계</td>
                            <td>47</td>
                            <td>611,478.4</td>
                            <td>54.9</td>
                          </tr>
                          <tr>
                            <td class="bold">소공원</td>
                            <td>9</td>
                            <td>10,058.4</td>
                            <td>0.9</td>
                          </tr>
                          <tr>
                            <td class="bold">어린이공원</td>
                            <td>25</td>
                            <td>83,930.0</td>
                            <td>7.5</td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">근린공원</td>
                            <td>13</td>
                            <td>517,490.0</td>
                            <td>46.5</td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="4">주제<br/>공원</td>
                            <td class="bold">소계</td>
                            <td>6</td>
                            <td>501,461.7</td>
                            <td>45.1</td>
                          </tr>
                          <tr>
                            <td class="bold">문화공원</td>
                            <td>2</td>
                            <td>326,162.8</td>
                            <td>29.3</td>
                          </tr>
                          <tr>
                            <td class="bold">역사공원</td>
                            <td>1</td>
                            <td>55,869.9</td>
                            <td>5.0</td>
                          </tr>
                          <tr>
                            <td class="bold">체육공원</td>
                            <td>3</td>
                            <td>119,429.0</td>
                            <td>10.8</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 공원 -->

          <!-- 광장 { -->
          <div id="amenities-3" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map3.jpg" alt="광장 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 테마광장(유형, 번호)를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>테마광장(유형, 번호)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td>-</td>
                            <td>36개소</td>
                            <td>23,215.8</td>
                            <td>-</td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>21개소</td>
                            <td>17,197.8</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="21">광장</td>
                            <td>광1</td>
                            <td>홍북읍 신경리 546</td>
                            <td>3,975.2</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광2</td>
                            <td>홍북읍 신경리 577</td>
                            <td>476.5</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광3</td>
                            <td>홍북읍 신경리 873</td>
                            <td>4,359.4</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광4</td>
                            <td>홍북읍 신경리 950</td>
                            <td>1,288.4</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광5</td>
                            <td>삽교읍 목리 958</td>
                            <td>483.1</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광6</td>
                            <td>삽교읍 목리 297-4 일원</td>
                            <td>729.2</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>광7</td>
                            <td>홍북읍 신경리 1863</td>
                            <td>397.3</td>
                            <td>테마광장 보령(1)-②</td>
                          </tr>
                          <tr>
                            <td>광8</td>
                            <td>홍북읍 신경리 1720</td>
                            <td>409.9</td>
                            <td>테마광장 서천(2)-①</td>
                          </tr>
                          <tr>
                            <td>광9</td>
                            <td>홍북읍 신경리 1719</td>
                            <td>376.3</td>
                            <td>테마광장 서천(2)-②</td>
                          </tr>
                          <tr>
                            <td>광10</td>
                            <td>홍북읍 신경리 1828 </td>
                            <td>400.9</td>
                            <td>테마광장 태안(3)-①</td>
                          </tr>
                          <tr>
                            <td>광11</td>
                            <td>홍북읍 신경리 1716 </td>
                            <td>400.4</td>
                            <td>테마광장 태안(3)-②</td>
                          </tr>
                          <tr>
                            <td>광12</td>
                            <td>홍북읍 신경리 1761 </td>
                            <td>354.2</td>
                            <td>테마광장 홍성(4)-①</td>
                          </tr>
                          <tr>
                            <td>광13</td>
                            <td>홍북읍 신경리 1734-1 </td>
                            <td>367.0</td>
                            <td>테마광장 홍성(4)-②</td>
                          </tr>
                          <tr>
                            <td>광14</td>
                            <td>삽교읍 목리 893 </td>
                            <td>398.0</td>
                            <td>테마광장 천안(5)-②</td>
                          </tr>
                          <tr>
                            <td>광15</td>
                            <td>삽교읍 목리 535 일원</td>
                            <td>386.0</td>
                            <td>테마광장 서산(6)-①</td>
                          </tr>
                          <tr>
                            <td>광16</td>
                            <td>삽교읍 목리 535 일원</td>
                            <td>396.0</td>
                            <td>테마광장 서산(6)-②</td>
                          </tr>
                          <tr>
                            <td>광17</td>
                            <td>삽교읍 목리 687-9 일원</td>
                            <td>452.0</td>
                            <td>테마광장 당진(7)-①</td>
                          </tr>
                          <tr>
                            <td>광18</td>
                            <td>삽교읍 목리 687-9 일원</td>
                            <td>404.5</td>
                            <td>테마광장 당진(7)-②</td>
                          </tr>
                          <tr>
                            <td>광19</td>
                            <td>삽교읍 목리 산51-1 일원</td>
                            <td>428.8</td>
                            <td>테마광장 아산(8)-①</td>
                          </tr>
                          <tr>
                            <td>광20</td>
                            <td>삽교읍 목리 356-6 일원</td>
                            <td>377.7</td>
                            <td>테마광장 청양(9)-①</td>
                          </tr>
                          <tr class="bottom">
                            <td>광21</td>
                            <td>삽교읍 목리 882</td>
                            <td>337.0</td>
                            <td>테마광장 청양(9)-②</td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>15개소</td>
                            <td>6,018.0</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="15">광장</td>
                            <td>경관2</td>
                            <td>홍북읍 상하리 산8-2 일원</td>
                            <td>349.0</td>
                            <td>테마광장 보령(1)-①</td>
                          </tr>
                          <tr>
                            <td>문화1</td>
                            <td>삽교읍 목리 764</td>
                            <td>425.0</td>
                            <td>테마광장 천안(5)-①</td>
                          </tr>
                          <tr>
                            <td>체육1</td>
                            <td>삽교읍 목리 687-3 일원</td>
                            <td>389.0</td>
                            <td>테마광장 아산(8)-②</td>
                          </tr>
                          <tr>
                            <td>연결5-①</td>
                            <td>삽교읍 목리 835</td>
                            <td>435.0</td>
                            <td>테마광장 예산(10)-①</td>
                          </tr>
                          <tr>
                            <td>연결5-②</td>
                            <td>삽교읍 목리 837 </td>
                            <td>399.0</td>
                            <td>테마광장 예산(10)-②</td>
                          </tr>
                          <tr>
                            <td>연결5-③</td>
                            <td>홍북읍 신경리 1772 </td>
                            <td>424.0</td>
                            <td>테마광장 계룡(11)-①</td>
                          </tr>
                          <tr>
                            <td>연결5-④</td>
                            <td>홍북읍 신경리 1775 </td>
                            <td>396.0</td>
                            <td>테마광장 계룡(11)-②</td>
                          </tr>
                          <tr>
                            <td>연결5-⑤</td>
                            <td>홍북읍 신경리 1775 </td>
                            <td>398.0</td>
                            <td>테마광장 공주(12)-①</td>
                          </tr>
                          <tr>
                            <td>근린6</td>
                            <td>홍북읍 신경리 1203 </td>
                            <td>398.0</td>
                            <td>테마광장 공주(12)-②</td>
                          </tr>
                          <tr>
                            <td>연결5-⑥</td>
                            <td>홍북읍 신경리 1808 </td>
                            <td>399.0</td>
                            <td>테마광장 금산(13)-①</td>
                          </tr>
                          <tr>
                            <td>어23</td>
                            <td>홍북읍 신경리 1371 </td>
                            <td>399.0</td>
                            <td>테마광장 금산(13)-②</td>
                          </tr>
                          <tr>
                            <td>연결2</td>
                            <td>홍북읍 신경리 1840 </td>
                            <td>392.0</td>
                            <td>테마광장 논산(14)-①</td>
                          </tr>
                          <tr>
                            <td>연결5-⑦</td>
                            <td>홍북읍 신경리 1864 </td>
                            <td>392.0</td>
                            <td>테마광장 논산(14)-②</td>
                          </tr>
                          <tr>
                            <td>연결5-⑧</td>
                            <td>홍북읍 봉신리 산31-1 일원</td>
                            <td>397.0</td>
                            <td>테마광장 부여(15)-①</td>
                          </tr>
                          <tr>
                            <td>연결5-⑨</td>
                            <td>홍북읍 봉신리 산31-1 일원</td>
                            <td>426.0</td>
                            <td>테마광장 부여(15)-②</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 광장 -->

          <!-- 교육시설 { -->
          <div id="amenities-4" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map4.jpg" alt="교육시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td>-</td>
                            <td>18개소</td>
                            <td>557,919.4</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="5">유치원</td>
                            <td>소계</td>
                            <td>4개소</td>
                            <td>11,604.1</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>유1</td>
                            <td>삽교읍 목리 263 일원</td>
                            <td>3,299.9</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>유2</td>
                            <td>홍북읍 신경리 721</td>
                            <td>1,704.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>유3</td>
                            <td>홍북읍 신경리 1075</td>
                            <td>3,300.2</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>유4</td>
                            <td>홍북읍 신경리 1377</td>
                            <td>3,300.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="7">초등학교</td>
                            <td>소계</td>
                            <td>6개소</td>
                            <td>82,252.5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>초1</td>
                            <td>삽교읍 목리 산61 일원</td>
                            <td>13,000.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>초2</td>
                            <td>삽교읍 목리 399-1 일원</td>
                            <td>12,991.1</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>초3</td>
                            <td>홍북읍 신경리 946</td>
                            <td>13,000.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>초4</td>
                            <td>홍북읍 신경리 1206</td>
                            <td>13,000.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>초5</td>
                            <td>홍북읍 신경리 1209</td>
                            <td>15,605.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>초6</td>
                            <td>홍북읍 신경리 1362</td>
                            <td>14,656.4</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="4">중학교</td>
                            <td>소계</td>
                            <td>3개소</td>
                            <td>44,221.7</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>중1</td>
                            <td>삽교읍 목리 841</td>
                            <td>14,445.7</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>중2</td>
                            <td>홍북읍 신경리 1175</td>
                            <td>12,975.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>중3</td>
                            <td>홍북읍 신경리 1208</td>
                            <td>16,801.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="3">고등학교</td>
                            <td>소계</td>
                            <td>2개소</td>
                            <td>31,289.1</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>고1</td>
                            <td>삽교읍 목리 842</td>
                            <td>15,555.9</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>고2</td>
                            <td>홍북읍 신경리 1174</td>
                            <td>15,733.2</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="4">대학교</td>
                            <td>소계</td>
                            <td>3개소</td>
                            <td>388,552.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>대1</td>
                            <td>홍북읍 신경리 511-41 일원</td>
                            <td>272,879.0</td>
                            <td rowspan="2">희망학교수에 따라 <br/>획지분할</td>
                          </tr>
                          <tr>
                            <td>대2</td>
                            <td>홍북읍 봉신리 117-1 일원</td>
                            <td class="right">165,636.0</td>
                          </tr>
                          <tr>
                            <td>대3</td>
                            <td>홍북읍 신경리 산68 일원</td>
                            <td>50,541.0</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="amenities_table_text">보성초등학교는 초등학교②를 신축하여 이전할 계획이므로 새로운 학교가 설립되기 전까지 존치</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 교육시설 -->

          <!-- 문화시설 { -->
          <div id="amenities-5" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map5.jpg" alt="문화시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td>-</td>
                            <td>3개소<br/>(6개소)</td>
                            <td>81,981.5<br/>(105,684.3)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="6">문화시설</td>
                            <td>문화1</td>
                            <td>홍북읍 신경리 887</td>
                            <td>80,176.7</td>
                            <td>문예회관, 박물관/전시관/미술관, 도서관</td>
                          </tr>
                          <tr>
                            <td>문화2</td>
                            <td>홍북읍 신경리 461-106 일원</td>
                            <td>969.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>문화3</td>
                            <td>홍북읍 신경리 512-24 일원</td>
                            <td>835.8</td>
                            <td>한옥체험관</td>
                          </tr>
                          <tr>
                            <td>(커2)</td>
                            <td>삽교읍 목리 427-2 일원</td>
                            <td>(7,034.3)</td>
                            <td rowspan="3">작은도서관/문화의 집<br/>(커뮤니티시설내 복합화)</td>
                          </tr>
                          <tr>
                            <td>(커3)</td>
                            <td>홍북읍 신경리 949</td>
                            <td class="right">(7,469.4)</td>
                          </tr>
                          <tr>
                            <td>(커6)</td>
                            <td>홍북읍 신경리 1209</td>
                            <td class="right">(9,199.1)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="amenities_table_text">(&nbsp;&nbsp;)는 복합커뮤니티시설내 복합화된 문화시설 포함면적임</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 문화시설 -->

          <!-- 체육시설 { -->
          <div id="amenities-6" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map6.jpg" alt="체육시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td>-</td>
                            <td>3개소<br/>(11개소)</td>
                            <td>403,069.7<br/>(484,960.5)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="11">체육시설</td>
                            <td>체육1</td>
                            <td>삽교읍 목리 687-57 일원</td>
                            <td>382,455.0</td>
                            <td>퍼블릭골프장</td>
                          </tr>
                          <tr>
                            <td>체육2</td>
                            <td>삽교읍 목리 134 일원</td>
                            <td>9,418.8</td>
                            <td>충남 스포츠센터</td>
                          </tr>
                          <tr>
                            <td>(체육3)</td>
                            <td>삽교읍 목리 1262</td>
                            <td>(30,182.0)</td>
                            <td>(하1 중복결정)</td>
                          </tr>
                          <tr>
                            <td>(체육4)</td>
                            <td>삽교읍 목리 1260</td>
                            <td>(6,000.4)</td>
                            <td>(폐2 중복결정)</td>
                          </tr>
                          <tr>
                            <td>체육5</td>
                            <td>삽교읍 목리 134 일원</td>
                            <td>11,195.9</td>
                            <td>충남 스포츠센터</td>
                          </tr>
                          <tr>
                            <td>(커1)</td>
                            <td>삽교읍 목리 889</td>
                            <td>(8,513.3)</td>
                            <td rowspan="6">근린체육시설<br/>(커뮤니티시설내 복합화)</td>
                          </tr>
                          <tr>
                            <td>(커2)</td>
                            <td>삽교읍 목리 427-2 일원</td>
                            <td class="right">(7,034.3)</td>
                          </tr>
                          <tr>
                            <td>(커3)</td>
                            <td>홍북읍 신경리 949</td>
                            <td class="right">(7,469.4)</td>
                          </tr>
                          <tr>
                            <td>(커4)</td>
                            <td>홍북읍 신경리 238-1 일원</td>
                            <td class="right">(7,211.6)</td>
                          </tr>
                          <tr>
                            <td>(커5)</td>
                            <td>홍북읍 신경리 1211</td>
                            <td class="right">(6,280.7)</td>
                          </tr>
                          <tr>
                            <td>(커6)</td>
                            <td>홍북읍 신경리 1209</td>
                            <td class="right">(9,199.1)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="amenities_table_text">(&nbsp;&nbsp;)는 하1･폐2 중복결정(지상부) 및 복합커뮤니티시설내 복합화된 근린체육시설 포함면적임</p>
                    <p class="amenities_table_text">커1~커5 면적은 복합커뮤니티시설 전체면적이며, 근린체육시설은 복합커뮤니티시설 건축계획에 따라 규모 재산정</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 체육시설 -->

          <!-- 보건/의료시설 { -->
          <div id="amenities-7" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map7.jpg" alt="보건/의료시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td></td>
                            <td>1개소<br/>(3개소)</td>
                            <td>34,214.0<br/>(49,938.9)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="3">보건 의료 시설</td>
                            <td>의1</td>
                            <td>홍북읍 신경리 511-3 일원</td>
                            <td>34,214.0</td>
                            <td>종합병원</td>
                          </tr>
                          <tr>
                            <td>(커1)</td>
                            <td>삽교읍 목리 889</td>
                            <td>(8,513.3)</td>
                            <td rowspan="2">보건지소<br/>(커뮤니티시설 내 복합화)</td>
                          </tr>
                          <tr>
                            <td>(커4)</td>
                            <td>홍북읍 신경리 238-1 일원</td>
                            <td class="right">(7,211.6)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="amenities_table_text">(&nbsp;&nbsp;)는 복합커뮤니티내 복합화된 의료시설(보건지소) 포함면적임</p>
                    <p class="amenities_table_text">커1, 커4 면적은 복합커뮤니티시설 전체면적</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 보건/의료시설 -->

          <!-- 복지시설 { -->
          <div id="amenities-8" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map8.jpg" alt="복지시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">합계</td>
                            <td>-</td>
                            <td>5개소<br/>(11개소)</td>
                            <td>26,990.9<br/>(72,699.3)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="11">복지시설</td>
                            <td>복2</td>
                            <td>삽교읍 목리 517-17 일원</td>
                            <td>13,224.3</td>
                            <td>충청남도 어린이 인성학습원</td>
                          </tr>
                          <tr>
                            <td>복3</td>
                            <td>홍북읍 신경리 877</td>
                            <td>2,150.0</td>
                            <td>충남육아종합지원센터 분소</td>
                          </tr>
                          <tr>
                            <td>복4</td>
                            <td>삽교읍 목리 517-73 일원</td>
                            <td>1,816.6</td>
                            <td>충남육아종합지원센터</td>
                          </tr>
                          <tr>
                            <td>복5</td>
                            <td>삽교읍 목리 442-3 일원</td>
                            <td>6,600.0</td>
                            <td>여성가족플라자</td>
                          </tr>
                          <tr>
                            <td>복6</td>
                            <td>삽교읍 목리 442-7 일원</td>
                            <td>3,200.0</td>
                            <td>청소년진흥원</td>
                          </tr>
                          <tr>
                            <td>(커1)</td>
                            <td>삽교읍 목리 889</td>
                            <td>(8,513.3)</td>
                            <td rowspan="6">영유아보육센터/지역아동센터/노인여가복지시설<br/>(커뮤니티시설내 복합화)</td>
                          </tr>
                          <tr>
                            <td>(커2)</td>
                            <td>삽교읍 목리 427-2 일원</td>
                            <td class="right">(7,034.3)</td>
                          </tr>
                          <tr>
                            <td>(커3)</td>
                            <td>홍북읍 신경리 949</td>
                            <td class="right">(7,469.4)</td>
                          </tr>
                          <tr>
                            <td>(커4)</td>
                            <td>홍북읍 신경리 1364</td>
                            <td class="right">(7,211.6)</td>
                          </tr>
                          <tr>
                            <td>(커5)</td>
                            <td>홍북읍 신경리 1211</td>
                            <td class="right">(6,280.7)</td>
                          </tr>
                          <tr>
                            <td>(커6)</td>
                            <td>홍북읍 신경리 1209</td>
                            <td class="right">(9,199.1)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p class="amenities_table_text">(&nbsp;&nbsp;)는 복합커뮤니티시설내 복합화된 복지시설(영유아보육센터·지역아동센터 등) 포함면적임</p>
                    <p class="amenities_table_text">커1~커6 면적은 복합커뮤니티시설 전체면적</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- } 복지시설 -->

          <!-- 기타편익시설 { -->
          <div id="amenities-9" class="tab_content">
            <div class="amenities_wrap">
              <div class="amenities_map_box">
                <div class="amenities_map_inner">
                  <img src="../sources/images/amenities-map9.jpg" alt="기타편익시설 지도">
                </div>
              </div>
              <div class="amenities_txt_box">
                <div class="amenities_txt_inner">
                  <div class="amenities_box">
                    <!-- <p class="amenities_title">조성계획</p> -->
                    <div class="amenities_table_wrap">
                      <table class="amenities_table">
                        <caption>구분, 번호, 위치, 면적(㎡), 비고를 포함</caption>
                        <thead>
                          <tr>
                            <th>구분</th>
                            <th>번호</th>
                            <th>위치</th>
                            <th>면적(㎡)</th>
                            <th>비고</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>6개소</td>
                            <td>10,901.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="6">종교시설</td>
                            <td>종1</td>
                            <td>삽교읍 신리 294-10 일원</td>
                            <td>3,310.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>종2</td>
                            <td>삽교읍 목리 282-1 일원</td>
                            <td>1,336.0</td>
                            <td>목리교회 존치</td>
                          </tr>
                          <tr>
                            <td>종3</td>
                            <td>홍북읍 신경리 954</td>
                            <td>1,700.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>종5</td>
                            <td>홍북읍 신경리 881</td>
                            <td>1,155.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>종6</td>
                            <td>홍북읍 신경리 870</td>
                            <td>1,700.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>종7</td>
                            <td>홍북읍 신경리 1378</td>
                            <td>1,700.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>5개소</td>
                            <td>8,436.2</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold" rowspan="5">주유소</td>
                            <td>주유1</td>
                            <td>삽교읍 신리 산31-2 일원</td>
                            <td>1,564.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>주유2</td>
                            <td>삽교읍 목리 289 일원</td>
                            <td>1,759.2</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>주유3</td>
                            <td>홍북읍 상하리 1 일원</td>
                            <td>2,195.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>주유4</td>
                            <td>홍북읍 신경리 1710</td>
                            <td>1,268.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td>주유5</td>
                            <td>홍북읍 신경리 1710-1</td>
                            <td>1,650.0</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>1개소</td>
                            <td>2,620.1</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">자동차관련<br/>(정비)시설</td>
                            <td>자1</td>
                            <td>삽교읍 신리 38-24 일원</td>
                            <td>2,620.1</td>
                            <td></td>
                          </tr>
                          <tr class="bottom">
                            <td class="bold">소계</td>
                            <td>-</td>
                            <td>1개소</td>
                            <td>80,387.0</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="bold">유보지</td>
                            <td>유보1</td>
                            <td>홍북읍 대동리 363-4 일원</td>
                            <td>80,387.0</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <!-- } 기타편익시설 -->
        </div>
      </div>

      <div id="evaluation">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="evaluation_wrap">
                <div class="evaluation_body">
                  <form action="">
                    <p class="evaluation_title">이 페이지에서 제공하는 정보에 대하여 만족하십니까?</p>
                    <ul class="evaluation_list">
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-1">
                        <label for="eval-1">매우 만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-2">
                        <label for="eval-2">만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-3">
                        <label for="eval-3">보통</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-4">
                        <label for="eval-4">불만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-5">
                        <label for="eval-5">매우 불만족</label>
                      </li>
                    </ul>
                    <div class="evaluation_box">
                      <input type="text" class="evaluation_text">
                      <button class="evaluation_fin">평가하기</button>
                    </div>
                  </form>
                </div>
                <div class="evaluation_info">
                  <p class="evaluation_info-txt"><b>담당부서 : </b>공공기관유치단</p>
                  <p class="evaluation_info-txt"><b>담당자 : </b>김재준</p>
                  <p class="evaluation_info-txt"><b>문의전화 : </b>041-635-3388</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- } Contents (amenities) -->

    <!-- Footer { -->
    <div id="footer">
      <div class="ft_related">
        <div class="container">
          <div class="wrapper">
            <div class="ft_related_ct">
              <p class="f_gmarket ft_related-tit"><img src="../sources/images/realated-site.png" alt="">관련사이트</p>
              <div class="ft_related-site">
                <a href="http://www.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cn.jpg" alt="충청남도">
                </a>
                <a href="https://www.hongseong.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-hs.jpg" alt="홍성군">
                </a>
                <a href="https://www.yesan.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-ys.jpg" alt="예산군">
                </a>
                <a href="https://art.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-literary.jpg" alt="충청남도 문화예술회관">
                </a>
                <a href="http://clehrd.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cile.jpg" alt="충청남도 평생교육진흥원">
                </a>
                <a href="https://www.cndc.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cndc.jpg" alt="충청남도 개발공사">
                </a>
                <a href="https://www.lh.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-lh.jpg" alt="한국토지주택공사">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft_cont">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="ft_cont_lt">
                <div class="fnb">
                  <ul class="fnb_ul">
                    <li>
                      <a href="http://www.chungnam.go.kr/cnnet/content.do?mnu_cd=CNNMENU02538" target="_blank" class="first">개인정보처리방침</a>
                    </li>
                    <li>
                      <a href="">이용약관</a>
                    </li>
                    <li>
                      <a href="http://www.chungnam.go.kr/dept/memberInfo.do?mnu_cd=SESMENU00003&amp;dept_cd=6441369" target="_blank">공공기관유치단 직원안내</a>
                    </li>
                  </ul>
                </div>
                <div class="chungnam_finfo">
                  <span class="txt1">[32255] 충청남도 홍성군 홍북읍 충남대로 21 충청남도청</span>
                  <span class="txt2">대표전화 : 041-120</span>
                </div>
                <p class="copyright">Copyrightⓒ CHUNGCHEONGNAM-DO. All rights reserved.</p>
              </div>
              <div class="ft_cont_rt">
                <a href="./index.html" class="ft-logo">
                  <img src="../sources/images/logo-white.png" alt="충청남도내포신도시">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Footer -->

    <!-- Top Button { -->
    <div id="go-top">
      <a href="#top">
        <span></span>
        <span class="sound_only">TOP</span>
      </a>
    </div>
    <!-- } Top Button -->
  </body>
</html>