<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" id="meta_viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
    <title>내포신도시</title>

    <!-- JS 파일 연결 -->
    <script src="../sources/js/jquery-3.6.0.min.js"></script>
    <script src="../sources/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="../sources/plugin/matchheight/jquery.matchHeight.js"></script>
    <script src="../sources/js/normal.js"></script>
    
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" href="../sources/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../sources/css/fonts.css">
    <link rel="stylesheet" href="../sources/css/common.css">
    <link rel="stylesheet" href="../sources/css/normal.css">
    <link rel="stylesheet" href="../sources/css/responsive.css">

    <!-- Favicon { -->
    <!-- <link rel="shortcut icon" href="/source/img/favicon.ico"> -->
    <!-- } Favicon -->
  </head>
  <body>
    <!-- Header { -->
    <div id="header">
      <div class="container">
        <div class="inner">
          <h1 class="hd_logo">
            <a href="./index.html">
              <img src="../sources/images/logo.png" alt="충청남도내포신도시">
            </a>
          </h1>
          <nav class="gnb">
            <ul class="gnb_ul-dp1">
              <li>
                <a href="">충남혁신도시 소개</a>
              </li>
              <li>
                <a href="">정보공개</a>
              </li>
              <li>
                <a href="">소식알림</a>
              </li>
              <li>
                <a href="">소통/참여</a>
              </li>
            </ul>
          </nav>
          <div class="hd_rnb">
            <div class="hd_search">
              <form action="">
                <fieldset>
                  <legend class="sound_only">전체검색메뉴</legend>
                  <input type="text" class="hd_search-keyword" placeholder="검색어를 입력하세요.">
                  <button type="submit" class="hd_search-submit" title="검색하기"></button>
                </fieldset>
              </form>
            </div>
            <div class="mb_nav">
              <ul class="mb_nav_ul">
                <li>
                  <a href="">로그인</a>
                </li>
                <li>
                  <a href="">회원가입</a>
                </li>
              </ul>
            </div>
            <a href="" class="chungnam_page-link">
              <img src="../sources/images/chungnam-logo.png" alt="새창열림, 충청남도 홈페이지로 이동">
            </a>
            <button type="button" class="all_menu-btn">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- } Header -->

    <!-- Contents (Overview) { -->
    <div class="contentsWrap sub overview">
      
      <div id="breadcrumbs">
        <div class="container">
          <div class="breadcrumbs_wrap">
            <div class="wrapper">
              <div class="inner">
                <ul class="breadcrumbs_list">
                  <li class="breadcrumbs_item breadcrumbs_item-home">
                    <a href="../views/index.html" title="메인 바로가기">
                      <img src="../sources/images/home-icon.png" alt="홈 아이콘">
                    </a>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-1dep">
                    <button class="breadcrumbs_menu">충남혁신도시 소개</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">정보공개</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소식알림</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">소통/참여</a>
                      </li>
                    </ul>
                  </li>
                  <li class="breadcrumbs_item breadcrumbs_item-2dep">
                    <button class="breadcrumbs_menu">개요 및 연혁</button>
                    <ul class="breadcrumbs_menu-list">
                      <li class="breadcrumbs_menu-item">
                        <a href="">개발방향 및 특성화 계획</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">토지이용계획도</a>
                      </li>
                      <li class="breadcrumbs_menu-item">
                        <a href="">편의시설</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec sub_sec-title">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="sub_titleBox">
                <p class="f_gmarket sub_title">개요 및 연혁</p>
                <p class="sub_expl">충남혁신도시의 사업 개요입니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec ovv_sec_1">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <p class="f_gmarket sub_slogan">환황해권 중심도시 건설 및 충청남도 균형발전을 <br/>선도하는 충남혁신도시를 소개합니다.</p>
            </div>
          </div>
        </div>
        <div class="ovv_img">
          <img src="../sources/images/overview-bg.jpg" alt="충남혁신도시 이미지">
        </div>
      </div>

      <div class="sub_sec ovv_sec_2">
        <div class="container">
          <div class="wrapper">
            <div class="inner inner_division">
              <div class="sub_head">
                <p class="sub_subject">사업개요</p>
              </div>
              <div class="sub_body">
                <ul class="gray_list i-col-3 matchH">
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1">위치</h5>
                      <p class="gray_txt-2">홍성군 홍북읍, 예산군 삽교읍 일원</p>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1">면적</h5>
                      <p class="gray_txt-2">9,951,729.1㎡ <br/>(홍성군 63%, 예산군 37%)</p>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1">수용인구</h5>
                      <p class="gray_txt-2">산정 인구 98,683인 / 41,579호 <br/>(가구당 2.4인 적용)</p>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1">사업 시행자</h5>
                      <p class="gray_txt-2">충청남도개발공사, 한국토지주택공사 <br/>공동시행</p>
                    </div>
                  </li>
                  <li class="gray_item">
                    <div class="gray_box">
                      <h5 class="gray_txt-1">사업기간</h5>
                      <p class="gray_txt-2">2007. 7. 20 ~ 2024. 12. 31</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec ovv_sec_3">
        <div class="container">
          <div class="wrapper">
            <div class="inner inner_division">
              <div class="sub_head">
                <p class="sub_subject">추진경위</p>
              </div>
              <div class="sub_body">
                <div class="his_wrap">

                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2005</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">7.20</span>
                        <span class="his-txt">도청이전 추진을 위한 충청남도 조례 제정</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2006</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">2.13</span>
                        <span class="his-txt">충청남도 도청이전 예정지역 지정 공고</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2007</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">7.20</span>
                        <span class="his-txt">충남도청 이전신도시 도시개발구역지정 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">8.10</span>
                        <span class="his-txt">충남도청 이전신도시 도시개발구역지정(변경) 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2008</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">5.1</span>
                        <span class="his-txt">도시개발구역지정(변경) 및 개발계획수립 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">9.22</span>
                        <span class="his-txt">충남도청 이전신도시 도시개발사업 개발계획(변경)수립 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2009</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">3.4</span>
                        <span class="his-txt">충남도청 이전신도시 도시개발사업 개발계획(변경)수립 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">3.16</span>
                        <span class="his-txt">충남도청 이전신도시 도시개발구역지정(변경) 및 개발계획(변경)수립 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">3.20</span>
                        <span class="his-txt">충남도청 이전신도시 개발사업 실시계획 승인 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">6.16</span>
                        <span class="his-txt">충남도청 이전신도시 개발사업 부지조성공사 착공 </span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2010</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">6.10</span>
                        <span class="his-txt">충남도청 이전신도시 개발사업 실시계획 승인(변경) 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2011</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">3.28</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2012</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">3.30</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업 개발예정지구, 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2013</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">4.30</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">12.27</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2014</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">2.3</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업(1단계) 공사완료 공고</span>
                      </div>
                      <div class="his_cont-list">
                        <span class="his-date">10.24</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                    </div>
                  </div>
                  <div class="his_list">
                    <div class="his_list-lt">
                      <p class="his-year">2015</p>
                    </div>
                    <div class="his_list-rt">
                      <div class="his_cont-list">
                        <span class="his-date">4.30</span>
                        <span class="his-txt">충남도청(내포) 신도시 개발사업 개발계획 및 실시계획 변경 승인 고시</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sub_sec ovv_sec_4">
        <div class="container">
          <div class="wrapper">
            <div class="inner inner_division">
              <div class="sub_head">
                <p class="sub_subject">추진경과</p>
              </div>
              <div class="sub_body">
                <ul class="step_list i-col-3">
                  <li class="step_item">
                    <div class="step_inner">
                      <h5 class="step_title">1단계 (조성단계)</h5>
                      <p class="step_year">2008년~2013년</p>
                      <div class="step_obj"></div>
                      <div class="step_box">
                        <p class="step_box-title">개발 목표 : 도청 및 유관기관 이전</p>
                        <p class="step_box-text">행정타운(도청 및 유관기관) 집중개발</p>
                        <p class="step_box-text">교육, 문화 등 공공편익시설 및 도시기반 시설 공급</p>
                      </div>
                      <div class="step_box">
                        <p class="step_box-title">개발 면적</p>
                        <p class="step_box-text none">2,111,000㎡ (21.2%)</p>
                      </div>
                    </div>
                  </li>
                  <li class="step_item">
                    <div class="step_inner">
                      <h5 class="step_title">2단계 (발전단계)</h5>
                      <p class="step_year">2014년~2015년</p>
                      <div class="step_obj"></div>
                      <div class="step_box">
                        <p class="step_box-title">개발 목표 : 도청 및 유관기관 조기 <br/>정착 유도 및 대학 유치</p>
                        <p class="step_box-text">인구유입에 따른 주거용지 개발</p>
                        <p class="step_box-text">자족기능 활성화를 위한 대학용지 개발</p>
                      </div>
                      <div class="step_box">
                        <p class="step_box-title">개발 면적</p>
                        <p class="step_box-text none">6,765,000㎡ (68%)</p>
                      </div>
                    </div>
                  </li>
                  <li class="step_item">
                    <div class="step_inner">
                      <h5 class="step_title">3단계 (정착단계)</h5>
                      <p class="step_year">2016년~2022년</p>
                      <div class="step_obj"></div>
                      <div class="step_box">
                        <p class="step_box-title">개발 목표 : 신도시 활성화 촉진</p>
                        <p class="step_box-text">산업단지 유치 및 체육시설 조성</p>
                        <p class="step_box-text">인구유입에 따른 주거용지 개발</p>
                        <p class="step_box-text">자족기능 활성화를 위한 산업용지 개발</p>
                      </div>
                      <div class="step_box">
                        <p class="step_box-title">개발 면적</p>
                        <p class="step_box-text none">9,951,729㎡ (100%)</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="evaluation">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="evaluation_wrap">
                <div class="evaluation_body">
                  <form action="">
                    <p class="evaluation_title">이 페이지에서 제공하는 정보에 대하여 만족하십니까?</p>
                    <ul class="evaluation_list">
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-1">
                        <label for="eval-1">매우 만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-2">
                        <label for="eval-2">만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-3">
                        <label for="eval-3">보통</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-4">
                        <label for="eval-4">불만족</label>
                      </li>
                      <li class="evaluation_item radio_wrap">
                        <input type="radio" name="eval" id="eval-5">
                        <label for="eval-5">매우 불만족</label>
                      </li>
                    </ul>
                    <div class="evaluation_box">
                      <input type="text" class="evaluation_text">
                      <button class="evaluation_fin">평가하기</button>
                    </div>
                  </form>
                </div>
                <div class="evaluation_info">
                  <p class="evaluation_info-txt"><b>담당부서 : </b>공공기관유치단</p>
                  <p class="evaluation_info-txt"><b>담당자 : </b>김재준</p>
                  <p class="evaluation_info-txt"><b>문의전화 : </b>041-635-3388</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- } Contents (Overview) -->

    <!-- Footer { -->
    <div id="footer">
      <div class="ft_related">
        <div class="container">
          <div class="wrapper">
            <div class="ft_related_ct">
              <p class="f_gmarket ft_related-tit"><img src="../sources/images/realated-site.png" alt="">관련사이트</p>
              <div class="ft_related-site">
                <a href="http://www.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cn.jpg" alt="충청남도">
                </a>
                <a href="https://www.hongseong.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-hs.jpg" alt="홍성군">
                </a>
                <a href="https://www.yesan.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-ys.jpg" alt="예산군">
                </a>
                <a href="https://art.chungnam.go.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-literary.jpg" alt="충청남도 문화예술회관">
                </a>
                <a href="http://clehrd.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cile.jpg" alt="충청남도 평생교육진흥원">
                </a>
                <a href="https://www.cndc.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-cndc.jpg" alt="충청남도 개발공사">
                </a>
                <a href="https://www.lh.or.kr/" target="_blank">
                  <img src="../sources/images/relatied-logo-lh.jpg" alt="한국토지주택공사">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ft_cont">
        <div class="container">
          <div class="wrapper">
            <div class="inner">
              <div class="ft_cont_lt">
                <div class="fnb">
                  <ul class="fnb_ul">
                    <li>
                      <a href="http://www.chungnam.go.kr/cnnet/content.do?mnu_cd=CNNMENU02538" target="_blank" class="first">개인정보처리방침</a>
                    </li>
                    <li>
                      <a href="">이용약관</a>
                    </li>
                    <li>
                      <a href="http://www.chungnam.go.kr/dept/memberInfo.do?mnu_cd=SESMENU00003&amp;dept_cd=6441369" target="_blank">공공기관유치단 직원안내</a>
                    </li>
                  </ul>
                </div>
                <div class="chungnam_finfo">
                  <span class="txt1">[32255] 충청남도 홍성군 홍북읍 충남대로 21 충청남도청</span>
                  <span class="txt2">대표전화 : 041-120</span>
                </div>
                <p class="copyright">Copyrightⓒ CHUNGCHEONGNAM-DO. All rights reserved.</p>
              </div>
              <div class="ft_cont_rt">
                <a href="./index.html" class="ft-logo">
                  <img src="../sources/images/logo-white.png" alt="충청남도내포신도시">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- } Footer -->

    <!-- Top Button { -->
    <div id="go-top">
      <a href="#top">
        <span></span>
        <span class="sound_only">TOP</span>
      </a>
    </div>
    <!-- } Top Button -->
  </body>
</html>